
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:15px;
}
h1{
    text-align: center;
}
.container{ 
    display: grid;
    grid-template-columns: repeat(16,auto);
    grid-template-rows: repeat(16,auto);
    width: 550px;
    height:550px;
    border:solid; 
    border-width: 4px;
    
    
}

.grid-element:hover{
        background-color: #000000;
}

.change-color{
    background-color: #000000;
}

.rgb{
    background-color: white;
}

